<div class="container">
  <br>
  <br>
  <nav>
    <a routerLink="/register" routerLinkActive="active" class="btn btn-default">Register</a>
    <a routerLink="/login" routerLinkActive="active" class="btn btn-default">Login</a>
    <a routerLink="/todos" routerLinkActive="active" class="btn btn-default">Todo</a>
    <a routerLink="/task/:1" routerLinkActive="active" class="btn btn-default">Task</a>
  </nav>
</div>

<div class="container">
  <br>
  <br>
  <br>
  <router-outlet></router-outlet>
</div>
